*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  background-color: #EFEFEF;
  align-items: center;
  justify-items: center;
  display: grid;
 
}
.container{
  background-color: #fff;
  width: 200px;
  height: 200px;
  margin-top: 200px;
  border-radius: 10px;
}
.container h2{
  margin-top: 20px;
  text-align: center;
}
.container button{
  margin-top: 50px;
  margin-left: 50px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid;
  font-weight: bold;
}
.container button:hover{
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}